@import "Colors";

.Footer
  box-shadow 0px 0px 8px 1px rgba(0,0,0,0.3)
  position fixed
  bottom 0
  left 0
  right 0
  height auto !important
  background-color themecolor !important
  //padding-bottom 20px !important

  *
    color #e0e0e0 !important

  textarea
    display inline-block
    resize none
    height 1em
    background-color lighten(themecolor, 20%) !important
    border-radius 4px
    padding-left 4px !important
    padding-right 4px !important

  .DropDownMenu
    margin-top -4px
    *
      font-size 20px
      font-weight light
      font-family: 'Lato', sans-serif;
