.Paintbox
  float center
  text-align: center;
  padding 20px
  padding-right 0px
  padding-top 20px
  padding-bottom 40px
  margin 68px auto !important
  width: 90%
  border-radius 4px
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
